@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-container::-webkit-scrollbar {
  width: 0;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.white-shadow-top{
  box-shadow: 0px -45px 70px 20px white;
}

.white-shadow-top-slider{
  box-shadow: -200px 100px 2000px 200px white;
}

.responsive-text{
  container-type: inline-size;
}